img {
    width: 350px;
    height: 350px;
}
header {
    display: flex;
    justify-content: center;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: 40px;
    color:aliceblue;
    font-weight: 400;
}
h2 {
    color:indigo;
    text-decoration: underline;
}
body {
    background-image: url(./images/ciel.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
label {
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.weather-day {
    border: 3px solid black;
}
#graphContainer {
    width: 400px;
    height: 200px;
    background-color: white;
  }
#temperatureGraph {
    width: 100%;
    height: 100%;
  }
  